<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora Posts</title>
    <style>
        h2{
            color:rgb(194, 2, 2);
        }
        div{
            background-color:bisque;
        }
    </style>
</head>
<body>
    <h2>Quora Posts</h2>

    <a href="http://localhost:3000/posts/new">Create New Post</a>
    <!-- <div>
        <h3>@ekachit</h3>
        <p>I am a student! </p>
        <a href="">See in detail</a> &nbsp; <a href="">Edit post</a> <br><br>
        <button>Delete Post</button>
    </div> -->
    


    <%for( let i=0;i<data.length;i++){%>
        <div>
            <h3>   @<%=data[i].username%>   </h3>
            <h4> ID: <%=data[i].id%> </h4>
            <p> <%=data[i].desc%> </p>
            <a href="http://localhost:3000/posts/<%=data[i].id%>">See in detail</a> &nbsp; <a href="http://localhost:3000/posts/edit/<%=data[i].id%>">Edit post</a> <br><br>
            <form method="post" action="/posts/<%=data[i].id%>?_method=DELETE">
                <button>Delete Post</button>
            </form>
            
        </div>
        <%}%>
    <!-- <script>
        console.log(data);
    </script> -->
</body>
</html>